[user]
	name = Otis Scott
	email = otismscott@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[pull]
	rebase = true
[push]
	default = simple
[alias]
	st = status
	br = branch
	co = checkout
	cb = checkout -b
	lg = log --oneline --graph --decorate --all
	lga = log --oneline --graph --decorate --all --all
[github]
	user = YourGitHubUsername
[credential]
	helper = store